/*
  Owner:  PLASTIC SCM
  Author: Fernando Val
*/
/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Vars and Mixins
:: Shared Styles
:: HTML
:: Layout
:: Media queries
*/
/* -----------------------------------------
   Vars and Mixins
----------------------------------------- */
/* -----------------------------------------
   SHARED STYLES
----------------------------------------- */
.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.no-padding-top {
  padding-top: 0 !important; }

.no-padding-bottom {
  padding-bottom: 0 !important; }

.minor-margin-top {
  margin-top: -6em; }

.hr {
  border-top: 5px solid #34576d;
  margin-bottom: 2em; }

.link-footer, .footer ul a, .footer a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.75em;
  transition: 1s; }
  .link-footer:hover, .footer a:hover {
    color: white; }

.no-expand {
  display: inline-block !important; }

.transparent {
  opacity: 0; }

.label {
  background: #e44602;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

.button {
  background: white;
  color: #00caa5;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid #00caa5;
  box-shadow: none;
  transition: 1s; }
  .button:hover {
    background: #00ba98;
    color: white; }
  .button.success {
    border: 2px solid #00caa5;
    background: #00ba98; }
    .button.success:hover {
      color: #00ba98;
      background: white; }

.link, a {
  color: #00b090;
  font-weight: 400;
  transition: 1s; }
  .link:hover, a:hover {
    color: #ff8000; }

.panel {
  border: none;
  background: #f6f9f8; }
  .panel li {
    font-weight: 200;
    margin-bottom: 0.5em;
    color: #00b090; }
    .panel li strong {
      font-weight: 600; }
  .panel .button {
    display: block; }
  .panel.button-panel {
    background: #d4f4ee;
    width: 100%;
    border: 2px solid #00b090; }
    .panel.button-panel:hover {
      background: #00b090; }
    .panel.button-panel:hover a {
      color: white; }

/* end panel */
.shot-framed {
  box-shadow: 0 0 0 1px #cdd7d7;
  background-color: #c4d0d4;
  margin-left: 1px;
  position: relative;
  display: inline-block;
  padding: 0; }
  .shot-framed:before {
    content: "";
    width: 100%;
    height: 30px;
    position: absolute;
    top: -30px;
    left: 0;
    background-color: #f0f3f4;
    padding: 2px;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 0 1px #cdd7d7;
    background: url(../img/shot-framed-windows-bg.png) top right no-repeat, url(../img/shot-framed-windows-logo.png) 10px 5px no-repeat;
    background-color: #f0f3f4; }

/* end shot-framed */
.top-channel {
  margin-top: 10px; }

.bottom-channel {
  margin-bottom: 10px; }

.textarea-medium {
  height: 8em; }

.textarea-large {
  height: 16em; }

.textarea-xlarge {
  height: 24em; }

.img-comment {
  margin-top: 1em; }
  .img-comment p {
    font-weight: bold; }

.box.description ul {
  margin-left: 5em; }

/* -----------------------------------------
   HTML
----------------------------------------- */
body {
  background: #e7efec;
  color: #132028;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif; }

p, li, span, table, header, footer, article, h1, h2, h3, h4, h5, h6 {
  color: #132028;
  font-weight: 300;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif; }

ul {
  margin-left: 2.5em; }

pre {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }

/* -----------------------------------------
   Layout
----------------------------------------- */
.container {
  background: white;
  -webkit-box-shadow: 0 0 5px 0 #e2ebf1;
  box-shadow: 0 0 5px 0 #e2ebf1; }
  .container .inner {
    padding-left: 3.75em;
    padding-right: 3.75em; }

/* end .container */
/* -----------------------------------------
   Header
----------------------------------------- */
.header {
  padding: 1.25em 0 0 0; }
  .header .logo {
    padding: 0 0 0 15px; }
  .header .nav-main {
    padding: 0.9375em 0; }
    .header .nav-main dd {
      display: inline-block;
      text-align: right;
      float: right;
      padding: 0 1em; }
      .header .nav-main dd.active a {
        font-weight: 400;
        padding: 0.5em 1em;
        background: #233c4b;
        -webkit-border-radius: 3px;
        border-radius: 3px; }
        .header .nav-main dd.active a:hover {
          cursor: text;
          color: white; }
      .header .nav-main dd:hover a {
        color: #00b090; }
    .header .nav-main a {
      color: #132028;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.875em; }

/* end .header */
/* -----------------------------------------
   Breadrumbs
----------------------------------------- */
.breadcrumbs {
  height: 2.5em;
  padding-left: 4.6875em;
  border: none;
  background: #f0f5f3; }
  .breadcrumbs li.current a {
    color: #b9d0c8 !important; }
  .breadcrumbs a {
    color: #00b090 !important; }

/* -----------------------------------------
   Main
----------------------------------------- */
.main {
  /* end subheader */ }
  .main .subheader {
    background: #e44602 url("../img/illustration-section-partners-.png") right center no-repeat;
    background-image: -webkit-linear-gradient(45deg, #e44602, #e44602 50%, #f34b02 50%, #f34b02 100%);
    background-image: -moz-linear-gradient(45deg, #e44602, #e44602 50%, #f34b02 50%, #f34b02 100%);
    padding-top: 2.5em;
    padding-bottom: 2.5em; }
    .main .subheader.hero h1, .main .subheader.hero h2, .main .subheader.hero h3, .main .subheader.hero h4, .main .subheader.hero h5, .main .subheader.hero h6, .main .subheader.hero small {
      line-height: 1em !important; }
    .main .subheader.hero h1 {
      margin: 0.4em 0 0.6em 0; }
    .main .subheader h1, .main .subheader h2, .main .subheader h3, .main .subheader h4, .main .subheader h5, .main .subheader h6, .main .subheader small {
      color: white;
      font-family: Maven Pro, "Maven Pro", "Helvetica Neue", Arial, sans-serif; }
    .main .subheader h1 {
      padding-left: 0.1875em;
      font-weight: 400;
      font-size: 3.75em;
      line-height: 2.5em; }
      .main .subheader h1.large {
        font-size: 5em; }
      .main .subheader h1.double-line {
        line-height: 1.2em; }
      .main .subheader h1 small {
        font-size: 0.5em;
        font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
        font-weight: 300 !important;
        opacity: 0.8; }
    .main .subheader h5 {
      font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
      font-weight: 300; }
    .main .subheader.subheader-iconized {
      padding-top: 0.625em !important;
      padding-bottom: 0.625em !important; }
  .main h1, .main h2, .main h3, .main h4, .main h5, .main h6 {
    color: #e44602; }

/* end .main */
/* -----------------------------------------
   Content
----------------------------------------- */
.content {
  padding: 2.5em 0; }
  .content h3 {
    margin-bottom: 1.875em; }
  .content header h3 {
    margin-bottom: 0.625em; }
  .content h4.speech {
    color: #132028; }

/* end .content */
/* -----------------------------------------
   HOME
----------------------------------------- */
.home {
  /* end hero */
  /* end tabs */
  /* end customers */
  /* end whats-new */
  /* end feed-blog */ }
  .home .hero {
    position: relative;
    /* end hero speech */ }
    .home .hero .hero-speech {
      position: absolute;
      width: 21%;
      top: 48%;
      left: 50%;
      margin-left: -10.5%;
      padding: 20px 20px 0 20px;
      background: rgba(0, 37, 59, 0.1);
      -webkit-border-radius: 5px;
      border-radius: 5px; }
      .home .hero .hero-speech h2 {
        text-shadow: 0px 1px 0px #0d1319;
        filter: dropshadow(color=#0d1319, offx=0, offy=1); }
    .home .hero .cta {
      font-size: 1.1em;
      width: 13em;
      text-transform: uppercase;
      font-weight: 400;
      text-shadow: 0px 1px 0px #0d1319;
      filter: dropshadow(color=#0d1319, offx=0, offy=1);
      -webkit-box-shadow: 0 4px 0 0 #1c736c;
      box-shadow: 0 4px 0 0 #1c736c; }
      .home .hero .cta:hover {
        background: #00d9b1;
        color: white; }
    .home .hero img {
      margin-bottom: 0; }
    .home .hero h2 {
      text-shadow: 0px 1px 0px #0d1319;
      filter: dropshadow(color=#0d1319, offx=0, offy=1);
      font-size: 2.2em;
      margin-bottom: 0; }
  .home .tabs {
    border-bottom: 5px solid #132028; }
    .home .tabs h4 {
      color: #132028; }
    .home .tabs .subtitle {
      margin-left: 3px !important; }
    .home .tabs > * {
      margin: -20px; }
    .home .tabs .description li {
      font-weight: 500;
      margin-left: 20px; }
  .home .tabs-nav a {
    transition: none; }
  .home .customers {
    margin-top: -80px; }
    .home .customers h6 {
      color: #7aa5c0; }
  .home .whats-new {
    padding-bottom: 0;
    /* end box */ }
    .home .whats-new .box {
      float: left;
      padding: 0 15px 0 70px;
      margin-bottom: 10px; }
      .home .whats-new .box h5 {
        color: #132028;
        font-size: 1.5em;
        line-height: 1.7em; }
        .home .whats-new .box h5 .box-enum {
          margin-left: -55px;
          margin-right: 10px;
          font-size: 0.9em;
          width: 42px;
          height: 42px;
          line-height: 42px;
          text-align: center;
          padding: 0; }
      .home .whats-new .box .thumb {
        opacity: 0.7;
        position: relative;
        transition: 0.6s; }
        .home .whats-new .box .thumb:after {
          content: "";
          position: absolute;
          top: -80px;
          left: 50%;
          width: 42px;
          height: 42px;
          margin-left: -21px;
          background: url(../img/icon-zoom.png) center no-repeat; }
        .home .whats-new .box .thumb img {
          border: 5px solid white;
          -webkit-box-shadow: 0 0 0 1px #415f7e;
          box-shadow: 0 0 0 1px #415f7e;
          -webkit-border-radius: 3px;
          border-radius: 3px; }
        .home .whats-new .box .thumb:hover {
          opacity: 1; }
      .home .whats-new .box.box-with-image {
        min-height: 330px; }
  .home .feed-blog li {
    display: inline-block;
    width: 100% !important;
    height: auto;
    border-bottom: 1px solid #e2ebf1;
    padding: 10px 0; }
  .home .feed-blog .itemTitle {
    float: right;
    width: 92%; }
  .home .feed-blog .itemDate {
    float: left;
    width: 5%;
    color: #588eaf;
    font-family: Maven Pro, "Maven Pro", "Helvetica Neue", Arial, sans-serif;
    line-height: 2.5em;
    font-size: 1em; }
  .home .feed-blog a {
    color: #00b090 !important; }
    .home .feed-blog a:hover {
      color: #e44602 !important;
      border-bottom: none !important; }

/* end HOME */
/* -----------------------------------------
   Partners
----------------------------------------- */
.partners h1, .webinars h1, .partners h2, .webinars h2, .partners .label, .webinars .label {
  text-transform: capitalize; }
.partners .label, .webinars .label {
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  background: #e7efec;
  color: #00977b; }
.partners .record, .webinars .record {
  margin-bottom: 3.75em; }
.partners .logo, .webinars .logo {
  padding: 0; }
.partners .sidebar, .webinars .sidebar {
  background: #f6f9f8;
  border: none;
  padding: 1.25em;
  font-size: 0.8125em; }
  .partners .sidebar h4, .webinars .sidebar h4 {
    color: #447390; }
  .partners .sidebar h6, .webinars .sidebar h6 {
    color: #447390;
    font-weight: 400;
    text-align: right; }
  .partners .sidebar hr, .webinars .sidebar hr {
    background: white;
    border: 1px solid white; }
.partners .footer-partner, .webinars .footer-partner {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  font-size: 0.8125em; }
  .partners .footer-partner h6, .webinars .footer-partner h6 {
    color: #34576d;
    font-weight: 600;
    font-size: 1.125em; }

/* end .partners */
/* -----------------------------------------
   Footer
----------------------------------------- */
.footer {
  background: #233c4b;
  padding: 2.5em 0; }
  .footer ul {
    padding: 0;
    list-style: none; }
  .footer .nav-social a {
    width: 34px;
    height: 34px;
    display: block;
    float: left;
    text-indent: -20000px;
    opacity: 0.6;
    background-image: url(../img/sprite-social.png);
    transition: background-position 0.6s; }
    .footer .nav-social a.blog {
      background-position: 0 0; }
      .footer .nav-social a.blog:hover {
        background-position: 0 bottom; }
    .footer .nav-social a.forum {
      background-position: -50px top; }
      .footer .nav-social a.forum:hover {
        background-position: -50px bottom; }
    .footer .nav-social a.twitter {
      background-position: -100px top; }
      .footer .nav-social a.twitter:hover {
        background-position: -100px bottom; }
    .footer .nav-social a.youtube {
      background-position: -150px top; }
      .footer .nav-social a.youtube:hover {
        background-position: -150px bottom; }
    .footer .nav-social a.facebook {
      background-position: -200px top; }
      .footer .nav-social a.facebook:hover {
        background-position: -200px bottom; }
    .footer .nav-social a.flickr {
      background-position: -250px top; }
      .footer .nav-social a.flickr:hover {
        background-position: -250px bottom; }
  .footer hr {
    opacity: 0.2; }
  .footer .logo-footer {
    opacity: 0.7; }
    .footer .logo-footer small {
      padding-left: 2em; }
    .footer .logo-footer:hover {
      opacity: 1; }

/* end .footer */
/* -----------------------------------------
   FEATURES
----------------------------------------- */
.features {
  margin-top: 0px; }
  .features h5 {
    color: #132028;
    font-weight: 700;
    padding-bottom: 0.3125em;
    margin-bottom: 1.25em; }
  .features hr {
    border: 0; }

/* end .features */
/* -----------------------------------------
   TABS
----------------------------------------- */
.tabs-nav, .tabs-nav-static {
  border-bottom: 5px solid #233c4b; }
  .tabs-nav a, .tabs-nav-static a {
    color: #447390;
    display: inline-block;
    background-color: #f0f3f4;
    margin-right: 5px;
    padding: 0.625em 1.25em;
    font-family: Maven Pro, "Maven Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.125em; }
    .tabs-nav a:hover, .tabs-nav a.active, .tabs-nav-static a:hover, .tabs-nav-static a.active {
      background-color: #233c4b;
      border-top: 5px solid #233c4b;
      color: white; }
    .tabs-nav a.active, .tabs-nav-static a.active {
      cursor: text; }

/* end .tabs-nav */
.tabs {
  overflow: hidden; }
  .tabs .tab {
    display: none; }
    .tabs .tab h4 {
      font-size: 1.875em;
      padding-left: 0.5em; }
    .tabs .tab:first-child {
      display: block; }
  .tabs .logos {
    padding-bottom: 0.625em; }

/* end .tab */
.navigation-second-level {
  margin-top: 40px; }

/* -----------------------------------------
   CODE
----------------------------------------- */
.code {
  background: #132028;
  color: #00b090;
  padding: 1.25em !important;
  margin: 1.25em 0;
  font-size: 0.875em;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .code pre {
    margin-bottom: 0.625em; }
    .code pre:last-child {
      margin-bottom: 0; }

/* end .code */
/* -----------------------------------------
   SECTION
----------------------------------------- */
.section {
  border-bottom: 1px solid #c9d2d7;
  margin-top: 3.75em;
  padding-bottom: 2.5em; }
  .section:last-child {
    margin-bottom: 2.5em;
    border-bottom: none; }
  .section .subsection {
    margin-bottom: 1.25em; }
    .section .subsection h5 {
      font-weight: 600;
      font-size: 1.0625em;
      color: #132028; }
    .section .subsection .row {
      margin-bottom: 1.25em; }
    .section .subsection .speech {
      font-size: 1.25em;
      font-weight: 400; }
    .section .subsection .subtitle {
      margin-left: -15px; }
  .section table {
    width: 100% !important;
    border-left: none;
    border-right: none; }
  .section th, .section td {
    padding: 0.9375em; }
  .section th {
    text-align: left;
    font-weight: 600; }
  .section table tr.even, .section table tr.alt, .section table tr:nth-of-type(even) {
    background: #f0f5f3; }

/* end .section */
/* -----------------------------------------
   BOX
----------------------------------------- */
.box {
  margin-bottom: 1.25em; }
  .box header {
    margin-bottom: 0.625em; }
  .box .box-enum {
    font-size: 1.25em;
    width: -0.25em;
    height: 1.75em;
    display: inline-block;
    line-height: 1.4375em;
    margin-right: 0.625em;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    float: left; }
  .box .box-title {
    font-size: 0.875em; }

/* end .box */
/* -----------------------------------------
   Evaluation Guide
----------------------------------------- */
.evaluation-guide .tab .subsection > .row {
  padding-left: 20px; }
.evaluation-guide h1 {
  margin-bottom: 0 !important; }
.evaluation-guide h3 {
  margin-bottom: 0 !important;
  font-weight: 100 !important;
  color: #ffb366 !important; }
.evaluation-guide .win-a-tshirt {
  padding-bottom: 0;
  background: none; }
  .evaluation-guide .win-a-tshirt h4 {
    line-height: 1.5em;
    font-weight: 300;
    color: #132028;
    font-size: 1.4em; }

.pull .box p {
  margin: 8em 0; }

/* end pull */
.screenshot {
  margin: 0 0 6em 0; }

/* en merge */
/* -----------------------------------------
   One and Two columns page (aside + main)
----------------------------------------- */
.one-two-columns-page {
  /* end aside */ }
  .one-two-columns-page aside h6 {
    color: #132028; }

/* end one-two-columns-page */
/* -----------------------------------------
   Forms
----------------------------------------- */
.form {
  /* end tabs */ }
  .form .tabs-nav a {
    width: 49%;
    text-align: center; }
  .form .tabs {
    background: #34576d;
    border-bottom: 5px solid #132028;
    padding: 0.625em; }
    .form .tabs p, .form .tabs label, .form .tabs h6, .form .tabs h5, .form .tabs h4 {
      color: rgba(255, 255, 255, 0.9); }
    .form .tabs .content {
      margin: 0.625em;
      margin-bottom: 2.5em;
      padding: 0 !important; }
      .form .tabs .content h1, .form .tabs .content h2, .form .tabs .content h3, .form .tabs .content h4, .form .tabs .content h5, .form .tabs .content h6 {
        padding-left: 0; }
    .form .tabs label {
      line-height: 1.6em;
      font-size: 18px;
      margin-bottom: 0; }
    .form .tabs input {
      height: 40px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      color: #00b090;
      padding-left: 1em;
      padding-right: 1em; }
      .form .tabs input.button {
        padding-top: 0.6em;
        padding-bottom: 2em;
        color: white; }
        .form .tabs input.button:hover {
          color: #00b090; }
      .form .tabs input:focus {
        border: 3px solid #00e3ba;
        color: #00caa5; }
    .form .tabs .required {
      font-size: 16px;
      color: #e44602;
      text-shadow: 0px 1px 0px #0d1319;
      filter: dropshadow(color=#0d1319, offx=0, offy=1); }
    .form .tabs .note {
      margin: 0 0 2.5em 0;
      display: inline-block; }
    .form .tabs .radio-buttons {
      margin-bottom: 1em; }
      .form .tabs .radio-buttons * {
        display: inline-block;
        margin-right: 0.5em; }
      .form .tabs .radio-buttons label {
        margin-right: 1em; }
    .form .tabs .link, .form .tabs a {
      color: #00e3ba; }
      .form .tabs .link:hover, .form .tabs a:hover {
        color: white; }
  .form table {
    border: none;
    background: transparent; }

/* end form */
.Validator, .flash-alert > div {
  visibility: visible;
  display: block;
  background: rgba(228, 70, 2, 0.7);
  padding: 0.6em 1em;
  color: white;
  font-size: 0.75em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 1.25em; }

.flash-alert > div {
  padding: 1.2em 2em;
  font-size: 0.875em;
  text-align: center; }
  .flash-alert > div a {
    color: #17ffd5; }
  .flash-alert > div.success {
    background: rgba(0, 176, 144, 0.5);
    color: #006351; }
    .flash-alert > div.success h5 {
      color: #006351; }

.legal-text p {
  font-size: 0.7em !important;
  color: #588eaf; }

/* -----------------------------------------
   Webinars
----------------------------------------- */
.webinars .record {
  border-bottom: 1px solid #bfd4e1;
  margin-bottom: 1em;
  padding-bottom: 1em; }
.webinars h3 {
  font-size: 2em;
  margin: 0; }
.webinars .tags {
  margin-bottom: 1em; }
.webinars .date, .webinars .hour, .webinars .archived .hour {
  margin-left: 20px !important;
  margin-top: 0.3em;
  padding: 1em 0;
  background-color: #34576d;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 90%;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 100; }
  .webinars .date strong, .webinars .hour strong, .webinars .archived .hour strong {
    color: white;
    font-weight: 400; }
.webinars .hour {
  background-color: #65e4cd;
  padding: 0 0 15px 0;
  margin-top: -5px; }
  .webinars .hour small {
    font-size: 12px;
    font-weight: 600;
    color: #34576d; }
.webinars p {
  width: 98%; }
.webinars .archived .date, .webinars .archived .hour {
  position: relative;
  background-color: #d7e5e0;
  color: rgba(19, 32, 40, 0.6); }
  .webinars .archived .date strong, .webinars .archived .hour strong {
    color: #34576d; }
.webinars .archived .hour {
  background-color: white !important;
  border: 2px solid #d7e5e0;
  padding: 0 0 15px 0;
  margin-top: -5px; }
  .webinars .archived .hour small {
    font-size: 12px;
    font-weight: 600;
    color: #34576d;
    opacity: 0.7; }
.webinars .tags-nav {
  height: 1em;
  text-align: right;
  margin: 20px 0 0 0; }
  .webinars .tags-nav dl {
    display: inline-block; }
  .webinars .tags-nav dd {
    margin: 0 1em;
    text-transform: capitalize; }
    .webinars .tags-nav dd.active a {
      background: #233c4b;
      cursor: pointer;
      font-weight: 400 !important;
      padding: 0.3em 1em; }
      .webinars .tags-nav dd.active a:hover {
        color: white;
        cursor: text; }
    .webinars .tags-nav dd a:hover {
      color: #00b090; }

/* end webinars */
/* filter */
h4.filter-title {
  color: #132028;
  margin: 0em 0 1em 0.2em;
  border-bottom: 3px solid #233c4b;
  padding-bottom: 0.3em;
  font-size: 1.5em !important; }

/* end filter */
/* -----------------------------------------
   Widgets (iframes)
----------------------------------------- */
.widget-wrapper {
  width: 620px;
  padding: 0;
  font-size: 0.9em; }
  .widget-wrapper ul {
    padding: 0;
    margin: 0; }
  .widget-wrapper li {
    list-style: none;
    width: 610px;
    height: 74px;
    margin: 0 0 5px 0;
    overflow: hidden; }
    .widget-wrapper li .itemTitle a {
      font-size: 1.3em;
      color: #ff8000; }
      .widget-wrapper li .itemTitle a:hover {
        color: #ff9933;
        border-bottom: 1px dotted #ff8000; }
    .widget-wrapper li .itemDate {
      font-size: 0.8em;
      margin: -5px 0 0 0; }
    .widget-wrapper li .itemContent {
      padding: 0;
      margin: 0 !important;
      height: 1.6em; }
      .widget-wrapper li .itemContent p {
        font-family: 'Helvetica Neue', helvetica, Arial, sans-serif !important;
        font-size: 14px !important;
        font-style: normal !important;
        font-weight: normal !important; }
  .widget-wrapper.widget-wrapper-webinars {
    width: 300px; }
    .widget-wrapper.widget-wrapper-webinars li {
      width: 280px;
      height: auto; }
    .widget-wrapper.widget-wrapper-webinars a {
      line-height: 12px; }
    .widget-wrapper.widget-wrapper-webinars .itemDate {
      margin-bottom: 0.7em; }

/* end widget-wrapper */
/* -----------------------------------------
   pricing
----------------------------------------- */
.pricing {
  /* end custom-pricing-table */
  /* end disclaimer */ }
  .pricing h5 {
    color: #2b4559;
    font-weight: 600; }
  .pricing .speech {
    text-align: center;
    margin-bottom: 1em; }
  .pricing .custom-pricing-table {
    border: 1px solid transparent;
    /* end table */
    /* end pricing-heder */
    /* end pricing-header-one .plan */
    /* end pricing-header-one .plan */ }
    .pricing .custom-pricing-table .title {
      font-family: Maven Pro, "Maven Pro", "Helvetica Neue", Arial, sans-serif;
      margin: 0;
      padding: 0;
      font-size: 22px; }
    .pricing .custom-pricing-table .description {
      font-size: 14px; }
    .pricing .custom-pricing-table .title, .pricing .custom-pricing-table .description {
      text-shadow: 0px 1px 0px #0d1319;
      filter: dropshadow(color=#0d1319, offx=0, offy=1); }
    .pricing .custom-pricing-table .plan, .pricing .custom-pricing-table .feature {
      border-left: 5px solid #34576d !important; }
    .pricing .custom-pricing-table table tr.even, .pricing .custom-pricing-table table tr.alt, .pricing .custom-pricing-table table tr:nth-of-type(even) {
      background: #f0f5f3; }
    .pricing .custom-pricing-table .empty, .pricing .custom-pricing-table .plan {
      width: 20%; }
    .pricing .custom-pricing-table table {
      border: none; }
    .pricing .custom-pricing-table .plan-description {
      border: none !important; }
    .pricing .custom-pricing-table .plan-four {
      border-left: 5px solid #e44602 !important;
      border-right: 5px solid #e44602 !important;
      -webkit-box-shadow: -12px 0 0 0 rgba(19, 32, 40, 0.2);
      box-shadow: -12px 0 0 0 rgba(19, 32, 40, 0.2); }
    .pricing .custom-pricing-table .pricing-header th, .pricing .custom-pricing-table .pricing-footer th {
      background-color: #34576d;
      padding-top: 20px; }
      .pricing .custom-pricing-table .pricing-header th.empty, .pricing .custom-pricing-table .pricing-footer th.empty {
        background: white; }
      .pricing .custom-pricing-table .pricing-header th.plan-recommended, .pricing .custom-pricing-table .pricing-footer th.plan-recommended {
        background: #e44602; }
      .pricing .custom-pricing-table .pricing-header th > *, .pricing .custom-pricing-table .pricing-footer th > * {
        color: white; }
    .pricing .custom-pricing-table .pricing-header-one .plan {
      /*
      &:before{
        content: "";
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        background: url('../img/icon-logo-64.png') center no-repeat;
        top: -40px;
        left: 50%;
        margin-left: -35px;
      }
      */
      /*
      top: auto;
      left: auto;
      margin-top: -78px;
      margin-left: 5.2%;
      */ }
      .pricing .custom-pricing-table .pricing-header-one .plan .pictogram {
        margin-top: -40px; }
      .pricing .custom-pricing-table .pricing-header-one .plan small {
        color: #8aacc6;
        font-size: 0.8em;
        marging: 0; }
    .pricing .custom-pricing-table .pricing-header-one .plan-two {
      padding-top: 50px !important; }
  .pricing .button {
    text-shadow: 0px 1px 0px #0d1319;
    filter: dropshadow(color=#0d1319, offx=0, offy=1);
    text-transform: uppercase !important;
    font-weight: 400;
    width: 90%;
    -webkit-box-shadow: 0 5px 0 0 #007d66;
    box-shadow: 0 5px 0 0 #007d66; }
    .pricing .button:hover {
      background: #00d4ad;
      -webkit-box-shadow: 0 5px 0 0 #007d66;
      box-shadow: 0 5px 0 0 #007d66; }
  .pricing .feature {
    font-weight: 500;
    font-size: 16px; }
    .pricing .feature strong {
      font-weight: 700;
      font-size: 18px; }
    .pricing .feature > * {
      color: #233c4b; }
    .pricing .feature.plan-description {
      font-size: 14px; }
      .pricing .feature.plan-description h6 {
        font-weight: 700; }
  .pricing .pricing-row strong {
    font-size: 24px; }
  .pricing .disclaimer {
    border-bottom: 1px solid rgba(19, 32, 40, 0.1) !important;
    font-size: 0.8em; }
    .pricing .disclaimer h6 {
      color: #00977b;
      font-weight: 700; }
    .pricing .disclaimer p {
      margin-bottom: 0.6em; }
  .pricing .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-indent: -20000px;
    background-position: center;
    background-repeat: no-repeat; }
    .pricing .icon.icon-ok {
      background-image: url("../img/icon-ok-24.png"); }

/* end pricing */
/* -----------------------------------------
   gitjungle
----------------------------------------- */
.gitjungle .screenshot {
  padding: 3em 5em 0 5em; }
.gitjungle .speech strong {
  font-weight: 600; }
  .gitjungle .speech strong.strongest {
    font-weight: 800; }
.gitjungle .speech-small {
  color: #132028;
  margin-top: -3em;
  margin-bottom: 5em;
  font-weight: 400; }

/* end .gitjugle */
/* -----------------------------------------
   Unity plugin page
----------------------------------------- */
.unity {
  /* end content */
  /* Slider */
  /* end slider */ }
  .unity .prior {
    background: #00b090;
    color: white; }
    .unity .prior:hover {
      background: #e44602;
      border: 2px solid #ff8000; }
  .unity .subheader {
    margin-bottom: 1em;
    padding-bottom: 0; }
    .unity .subheader h1 {
      font-size: 3em;
      line-height: 1.1em;
      margin-top: 0.5em;
      margin-bottom: 0.5em; }
  .unity .content {
    margin-bottom: 40px; }
    .unity .content h4, .unity .content h5 {
      color: #132028;
      font-weight: 200; }
      .unity .content h4 strong, .unity .content h5 strong {
        font-weight: 600; }
    .unity .content h5 {
      font-weight: 400; }
    .unity .content > .row {
      padding: 0 40px; }
    .unity .content .features {
      padding-right: 20px; }
    .unity .content ul > li {
      font-weight: 400;
      margin-bottom: 0.5em; }
    .unity .content ol {
      counter-reset: my-badass-counter;
      list-style: none; }
      .unity .content ol > li {
        margin-bottom: 0.5em;
        margin-left: 2em;
        font-weight: 400; }
        .unity .content ol > li li {
          margin-left: 1em;
          font-weight: 200; }
      .unity .content ol > li:before {
        content: counter(my-badass-counter);
        counter-increment: my-badass-counter;
        background: #e44602;
        display: inline-block;
        text-align: center;
        margin-right: 0.5em;
        width: 1.5em;
        height: 1.5em;
        text-align: 1.5em;
        color: white;
        font-weight: 400;
        margin-left: -2em;
        -webkit-border-radius: 0.75em;
        border-radius: 0.75em; }
  .unity .slider {
    padding: 2em 5em 0; }
    .unity .slider .cta {
      position: absolute;
      width: 250px;
      top: 45%;
      left: 50%;
      margin-left: -125px;
      z-index: 10000 !important;
      background: rgba(255, 255, 255, 0.5);
      border: 3px solid #e44602;
      color: #e44602;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
      .unity .slider .cta:hover {
        background: rgba(228, 70, 2, 0.8);
        color: white;
        border: 3px solid white; }
    .unity .slider ul > li {
      -webkit-border-radius: 5px;
      border-radius: 5px;
      border: 3px solid #9dbdd0;
      overflow: hidden; }
    .unity .slider .orbit-timer, .unity .slider .orbit-slide-number {
      opacity: 0; }
    .unity .slider .orbit-bullets {
      text-align: center; }
      .unity .slider .orbit-bullets li {
        display: inline-block !important;
        float: none;
        border: none;
        background: #bfd4e1;
        transition: background 0.5s; }
        .unity .slider .orbit-bullets li.active {
          background: #233c4b; }
        .unity .slider .orbit-bullets li:hover {
          cursor: pointer;
          background: #00ba98; }
    .unity .slider .orbit-next, .unity .slider .orbit-prev {
      height: 110%;
      top: 0;
      width: 4em;
      opacity: 0; }
      .unity .slider .orbit-next:hover, .unity .slider .orbit-prev:hover {
        opacity: 1;
        background: rgba(19, 32, 40, 0.2); }

/* end .Unity plugin page */
/* -----------------------------------------
   Plastic for penguins
----------------------------------------- */
.penguins {
  /* end disclaimer */ }
  .penguins .tab-content h4, .penguins .tab-content h5, .penguins .tab-content h6, .penguins .tab-content p.columns {
    padding-left: 35px; }
  .penguins .tab-content p {
    padding-left: 20px; }
  .penguins .tab-content .code {
    padding-left: 40px !important; }
  .penguins .tab-content .disclaimer .code {
    margin-left: 20px;
    width: 95.5%;
    padding-left: 20px !important; }
  .penguins .tab-content .logos {
    margin-left: -36px; }
  .penguins .disclaimer {
    background: rgba(0, 176, 144, 0.1) !important;
    width: 99%;
    padding: 1em 2em;
    font-size: 0.8em;
    font-weight: 600; }
    .penguins .disclaimer p {
      margin-bottom: 0.6em;
      font-weight: 400; }
    .penguins .disclaimer .code {
      width: 98%; }

/* end penguins */
/* -----------------------------------------
   Gallery
----------------------------------------- */
.gallery {
  /* end clearing-thumbs */ }
  .gallery h3 {
    text-align: center; }
  .gallery h4 {
    color: #132028; }
  .gallery h4, .gallery h5, .gallery h6 {
    margin-left: 10px; }
  .gallery h6 {
    margin-top: -10px; }
    .gallery h6 small {
      font-size: 0.8em; }
  .gallery .clearing-thumbs {
    margin: 0;
    padding: 0;
    list-style: none; }
    .gallery .clearing-thumbs li {
      width: 24.5%;
      display: inline-block;
      vertical-align: top;
      margin: 0;
      margin-bottom: 1em;
      /* caption */ }
      .gallery .clearing-thumbs li a {
        position: relative;
        overflow: hidden;
        width: 100%;
        max-height: 200px;
        -webkit-box-shadow: 0 0 0 1px #9dbdd0;
        box-shadow: 0 0 0 1px #9dbdd0;
        display: inline-block; }
      .gallery .clearing-thumbs li:last-child {
        margin-right: 0 !important; }
      .gallery .clearing-thumbs li img {
        width: 100%;
        margin: 0; }
      .gallery .clearing-thumbs li figure {
        cursor: text;
        background: white;
        padding: 10px 10px 5px 10px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        transition: background-color 0.8s; }
        .gallery .clearing-thumbs li figure:hover {
          background: rgba(19, 32, 40, 0.8); }
        .gallery .clearing-thumbs li figure > a {
          background: white;
          padding: 5px 5px 0 5px; }
      .gallery .clearing-thumbs li figcaption {
        height: 1px;
        overflow: hidden; }
        .gallery .clearing-thumbs li figcaption * {
          color: white;
          font-size: 0.9em;
          line-height: 1.3em; }
          .gallery .clearing-thumbs li figcaption * p {
            margin: 0; }
        .gallery .clearing-thumbs li figcaption a {
          color: #00e3ba;
          box-shadow: none;
          text-decoration: underline;
          transition: color 0.5s; }
          .gallery .clearing-thumbs li figcaption a:hover {
            color: #fd4e03; }
      .gallery .clearing-thumbs li .caption {
        background: rgba(19, 32, 40, 0.8);
        top: 50%; }
        .gallery .clearing-thumbs li .caption small {
          display: inline-block;
          margin: 10px 20px;
          height: 250px; }
  .gallery .fancybox-overlay {
    background: rgba(19, 32, 40, 0.8) !important; }

/* end gallery */
/* -----------------------------------------
   RESPONSIVE HACKS
----------------------------------------- */
/* Used to alter styles for screens at least 320px wide. This is where the grid changes. */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .tabs-nav a {
    display: block;
    margin-top: 5px; }

  .nav-main dd {
    width: 100%;
    border-bottom: 1px solid #9dbdd0;
    line-height: 2.5em;
    height: 2.5em;
    margin: 0; }
    .nav-main dd:first-child {
      border-top: 1px solid #9dbdd0; }
    .nav-main dd:hover {
      background: #f3f7f9; }
    .nav-main dd a {
      display: block;
      text-align: left; }

  .header .logo {
    text-align: center; }

  .clearing-thumbs li {
    width: 49.5% !important; }

  /* end clearing-thumbs */
  .home .hero-speech {
    width: 40% !important;
    margin-left: -20% !important;
    margin-top: 8% !important; }
    .home .hero-speech .cta {
      width: 240px !important; }
  .home .feed-blog .itemTitle {
    width: 85% !important; }
  .home .feed-blog .itemDate {
    width: 15% !important; }

  /* end home */ }
/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-main dd {
    background: #e9f0f4;
    width: 30%; }
    .nav-main dd:hover {
      background: #d1e0e9; }

  .clearing-thumbs li {
    width: 32.5% !important; }

  /* end clearing-thumbs */
  .home .hero-speech {
    width: 30.5% !important;
    margin-left: -15% !important;
    margin-top: 8% !important; }
    .home .hero-speech .cta {
      width: 240px !important; }
  .home .tabs-nav a {
    font-size: 0.9em !important;
    display: inline-block;
    min-width: 140px; }
  .home .feed-blog .itemTitle {
    width: 90% !important; }
  .home .feed-blog .itemDate {
    width: 10% !important; }

  /* end home */ }
/* end 768-1024 */
/* Used to alter styles for screens at least 1280px wide. */
/* Used to alter styles for screens at least 1440px wide. */
/* Apply styles to screens in landscape orientation */
/* Apply styles to screens in portrait orientation */
/* Portrait Orientation (tablets and smartphones) */
@media screen and (orientation: portrait) {
  body {
    /*
    background: none !important;
    */ } }
/* / Portrait Orientation (tablets and smartphones) */
/* Other orientations */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */ }
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */ }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */ }
/* end iPads (portrait and landscape) ----------- */
/* iPhone 4 ----------- */
/* end iPhone 4 ----------- */
/* -----------------------------------------
   DEBUG STYLES
----------------------------------------- */
.line-red {
  border: 1px solid red; }

.line-orange {
  border: 1px solid orange; }

.line-yellow {
  border: 1px solid yellow; }

.line-lime {
  border: 1px solid lime; }
