/*
  Owner:  PLASTIC SCM
  Author: Fernando Val
*/
/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Vars and Mixins
:: Shared Styles
:: HTML
:: Layout
:: Media queries
*/
/* -----------------------------------------
   Vars and Mixins
----------------------------------------- */
/* -----------------------------------------
   SHARED STYLES
----------------------------------------- */
.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.no-padding-top {
  padding-top: 0 !important; }

.no-padding-bottom {
  padding-bottom: 0 !important; }

.link-footer {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.75em;
  transition: 1s; }
  .link-footer:hover {
    color: white; }

.transparent {
  opacity: 0; }

.label {
  background: #e44602;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

.button {
  background: white;
  color: #00caa5;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid #00caa5;
  box-shadow: none;
  transition: 1s; }
  .button:hover {
    background: #00ba98;
    color: white; }
  .button.success {
    border: 2px solid #00caa5;
    background: #00ba98; }
    .button.success:hover {
      color: #00ba98;
      background: white; }

.link, a {
  color: #00b090;
  font-weight: 400;
  transition: 1s; }
  .link:hover, a:hover {
    color: #ff8000; }

.panel {
  border: none;
  background: #f6f9f8; }
  .panel li {
    font-weight: 200;
    margin-bottom: 0.5em;
    color: #00b090; }
    .panel li strong {
      font-weight: 600; }
  .panel .button {
    display: block; }
  .panel.button-panel {
    background: #d4f4ee;
    width: 100%;
    border: 2px solid #00b090; }
    .panel.button-panel:hover {
      background: #00b090; }
    .panel.button-panel:hover a {
      color: white; }

/* end panel */
.shot-framed {
  box-shadow: 0 0 0 1px #cdd7d7;
  margin-left: 1px;
  position: relative;
  display: inline-block;
  padding: 0; }
  .shot-framed:before {
    content: "";
    width: 100%;
    height: 30px;
    position: absolute;
    top: -30px;
    left: 0;
    background-color: #f0f3f4;
    padding: 2px;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 0 1px #cdd7d7;
    background: url(../img/shot-framed-windows-bg.png) top right no-repeat, url(../img/shot-framed-windows-logo.png) 10px 5px no-repeat;
    background-color: #f0f3f4; }

/* end shot-framed */
.top-channel {
  margin-top: 10px; }

.bottom-channel {
  margin-bottom: 10px; }

.textarea-medium {
  height: 8em; }

.textarea-large {
  height: 16em; }

.textarea-xlarge {
  height: 24em; }

.img-comment {
  margin-top: 1em; }
  .img-comment p {
    font-weight: bold; }

/* -----------------------------------------
   HTML
----------------------------------------- */
body {
  color: #132028;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif; }

p, li, span, table, header, footer, article, h1, h2, h3, h4, h5, h6 {
  color: #132028;
  font-weight: 300;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif; }

ul {
  margin-left: 2.5em; }

pre {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }

/* -----------------------------------------
   Layout
----------------------------------------- */
.container {
  border: none;
  background: transparent;
  box-shadow: none; }

/* end .container */
/* -----------------------------------------
   Header
----------------------------------------- */
.header {
  position: relative;
  z-index: 1010;
  height: 114px;
  background: white;
  border-top: 8px solid #405461; }

/* end .header */
/* -----------------------------------------
   Hero
----------------------------------------- */
.main .hero {
  margin-top: 0;
  position: relative;
  z-index: 1000;
  background: #e44602 url(../img/scm-history/hero-track-bg.png) center 110px repeat-x;
  min-height: 762px;
  min-height: 732px;
  padding-top: 70px;
  -webkit-box-shadow: 0 5px 25px 0 rgba(13, 19, 25, 0.4);
  box-shadow: 0 5px 25px 0 rgba(13, 19, 25, 0.4); }
  .main .hero .bottom {
    margin-top: 75px; }
    .main .hero .bottom .quote {
      margin-top: 80px !important;
      font-size: 17px;
      padding-left: 25px; }
      .main .hero .bottom .quote.quoted {
        border-left: none;
        font-size: 18px;
        font-weight: 600; }
  .main .hero h1 {
    padding: 0;
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 0.25em !important;
    text-shadow: 0px 3px 0px rgba(19, 32, 40, 0.5);
    filter: dropshadow(color=rgba(19, 32, 40, 0.5), offx=0, offy=1); }
  .main .hero .speech, .main .hero .quote {
    color: white;
    font-size: 1em;
    margin: 0 !important;
    text-shadow: 0px 2px 0px rgba(19, 32, 40, 0.5);
    filter: dropshadow(color=rgba(19, 32, 40, 0.5), offx=0, offy=1); }
  .main .hero .illustration {
    padding-top: 40px; }

/* -----------------------------------------
   Hero
----------------------------------------- */
.sky {
  background-color: #033749;
  background-image: -webkit-gradient(linear, top, bottom, from(#033749), to(#98e6ff));
  background-image: -webkit-linear-gradient(top, #033749, #98e6ff);
  background-image: -moz-linear-gradient(top, #033749, #98e6ff);
  background-image: -ms-linear-gradient(top, #033749, #98e6ff);
  background-image: -o-linear-gradient(top, #033749, #98e6ff);
  z-index: 0 !important;
  position: absolute;
  width: 100%;
  min-height: 2500px;
  -webkit-box-shadow: 0 -100px 0 0 #033749;
  box-shadow: 0 -100px 0 0 #033749;
  /* end sky-level */
  /* end .end */
  /* end quote */ }
  .sky .quote {
    border-left: 1px solid rgba(255, 255, 255, 0.5); }
  .sky .sky-level {
    height: 504px;
    background: url("../img/scm-history/sky-section-track-bg.png") center 156px repeat-y; }
    .sky .sky-level.top {
      background: url("../img/scm-history/sky-section-track-top-bg.png") center -96px repeat-y; }
    .sky .sky-level h3, .sky .sky-level p, .sky .sky-level small {
      color: white;
      text-shadow: 0px 2px 0px rgba(19, 32, 40, 0.5);
      filter: dropshadow(color=rgba(19, 32, 40, 0.5), offx=0, offy=1); }
      .sky .sky-level h3 small, .sky .sky-level p small, .sky .sky-level small small {
        font-weight: 400; }
    .sky .sky-level h3 {
      margin-top: -20px;
      text-align: center;
      font-size: 40px;
      font-weight: 600;
      font-family: Maven Pro, "Maven Pro", "Helvetica Neue", Arial, sans-serif; }
    .sky .sky-level .plane {
      margin-top: 30px;
      text-align: center; }
      .sky .sky-level .plane h5 {
        color: #132028;
        font-weight: 600;
        font-size: 28px;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
        filter: dropshadow(color=rgba(255, 255, 255, 0.3), offx=0, offy=1px); }
      .sky .sky-level .plane img {
        max-height: 150px; }
  .sky .end {
    height: 530px;
    padding-bottom: 670px;
    background-image: url(../img/scm-history/sky-section-track-bottom-bg.png), url(../img/scm-history/cliffs-bg.png);
    background-position: center -96px, -250px bottom;
    background-repeat: no-repeat, repeat-x; }
  .sky .quote {
    margin-top: 50px !important;
    font-size: 17px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 25px; }
    .sky .quote.quoted {
      border-left: none;
      font-size: 18px;
      font-weight: 600; }

/* end sky */
.next {
  border: none;
  background: url(../img/scm-history/icon-next-up.png) center no-repeat;
  text-indent: -20000px;
  width: 65px;
  height: 64px;
  opacity: 0.7;
  margin-left: -3px; }
  .next:hover {
    background: url(../img/scm-history/icon-next-up.png) center no-repeat;
    opacity: 1; }

/* end next */
.ground .quote {
  background: rgba(255, 255, 255, 0.35);
  padding: 10px 20px;
  color: #132028 !important;
  text-shadow: none !important;
  font-weight: 500 !important;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

/* end ground */
/* -----------------------------------------
   T-shirt
----------------------------------------- */
.block-tshirt {
  background-color: #00b786;
  background-image: -webkit-gradient(linear, top, bottom, from(#00b786), to(#37cdaa));
  background-image: -webkit-linear-gradient(top, #00b786, #37cdaa);
  background-image: -moz-linear-gradient(top, #00b786, #37cdaa);
  background-image: -ms-linear-gradient(top, #00b786, #37cdaa);
  background-image: -o-linear-gradient(top, #00b786, #37cdaa);
  padding-top: 50px;
  padding-bottom: 40px; }
  .block-tshirt h2 {
    color: white;
    text-shadow: 0px 2px 0px rgba(19, 32, 40, 0.7);
    filter: dropshadow(color=rgba(19, 32, 40, 0.7), offx=0, offy=1); }
  .block-tshirt .cta {
    background: #e44602;
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: Maven Pro, "Maven Pro", "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-left: 6em;
    padding-right: 6em;
    border-bottom: 5px solid #b13602; }

/* end .tshirt */
/* -----------------------------------------
   social
----------------------------------------- */
.block-social {
  background: white;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-shadow: 0 -15px 25px 0 rgba(13, 19, 25, 0.05);
  box-shadow: 0 -15px 25px 0 rgba(13, 19, 25, 0.05); }
  .block-social .footer {
    background: transparent !important; }

/* end .social */
/* -----------------------------------------
   footer
----------------------------------------- */
.block-footer {
  background: #1e3340 url(../img/scm-history/footer-airfield-bg.png) center top repeat-x;
  padding-top: 540px;
  padding-bottom: 50px; }
  .block-footer .footer {
    background: none; }

/* end .footer */
/* -----------------------------------------
   Content
----------------------------------------- */
/* end .content */
.bg-blur-on {
  -webkit-filter: blur(2px) brightness(1);
  -moz-filter: blur(2px) brightness(1);
  -o-filter: blur(2px) brightness(1);
  -ms-filter: blur(2px) brightness(1);
  filter: blur(2px) brightness(1); }

.bg-blur-off {
  -webkit-filter: blur(0px) brightness(1);
  -moz-filter: blur(0px) brightness(1);
  -o-filter: blur(0px) brightness(1);
  -ms-filter: blur(0px) brightness(1);
  filter: blur(0px) brightness(1); }

.planes .text {
  margin-top: -10px;
  font-size: 0.875em;
  margin-bottom: 10px; }
  .planes .text p, .planes .text li {
    color: white;
    line-height: 1.375em !important;
    margin-bottom: 8px; }
  .planes .text h5 {
    color: #ff9933;
    font-weight: 400; }
  .planes .text .face {
    background: #ff9933;
    border-radius: 50%;
    padding: 0px 4px;
    font-weight: 600;
    color: #132028; }

/* end planes */
.plane a {
  display: inline-block;
  height: 100% !important;
  position: relative; }
  .plane a:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: url(../img/scm-history/illustrations/radar-bg.png) center center no-repeat;
    background-size: 30%;
    opacity: 0;
    transition: opacity 1s, background-size 1s, opacity 1s; }
  .plane a:hover:after {
    opacity: 0.6;
    background-size: 60%; }
.plane.group a:after {
  top: 20px;
  background-size: 10%; }
.plane.group a:hover:after {
  background-size: 45%; }

/* end plane */
.group {
  padding: 0 6% !important; }
  .group .group-plane {
    width: 50%;
    float: left; }
    .group .group-plane.plane-1 {
      margin-top: -45px; }
    .group .group-plane.plane-2 {
      float: right; }
    .group .group-plane.plane-3 {
      margin-top: 20px; }
    .group .group-plane h5 {
      font-size: 1em !important; }
  .group.ww1-group, .group.interwar-group, .group.korean-group {
    padding: 0 15% !important; }

/* end group */
/* -----------------------------------------
   BOX
----------------------------------------- */
/* end .box */
/* -----------------------------------------
   Reveal modal card
----------------------------------------- */
.reveal-modal, .reveal-modal--card {
  /* testing */
  /*
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  */
  z-index: 1011;
  border: none;
  background: transparent;
  padding: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 0 8px rgba(43, 69, 89, 0.35);
  box-shadow: 0 0 0 8px rgba(43, 69, 89, 0.35);
  /* end close-reveal-modal */
  /* end picture */
  /* end buttons bar */
  /* end content */ }
  .reveal-modal .close-reveal-modal, .reveal-modal--card .close-reveal-modal {
    color: white;
    padding: 3px 8px;
    right: 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .reveal-modal .close-reveal-modal:hover, .reveal-modal--card .close-reveal-modal:hover {
      color: #3ab7cf;
      background: white;
      opacity: 0.8; }
  .reveal-modal .picture, .reveal-modal--card .picture {
    background: rgba(58, 183, 207, 0.88);
    padding: 10px;
    margin-bottom: -8px;
    text-align: center;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .reveal-modal .picture img, .reveal-modal--card .picture img {
      border: 30px solid transparent; }
    .reveal-modal .picture .caption, .reveal-modal--card .picture .caption {
      display: block;
      color: white;
      font-size: 16px;
      margin: 10px;
      font-family: Maven Pro, "Maven Pro", "Helvetica Neue", Arial, sans-serif;
      text-shadow: 0px 1px 0px rgba(19, 32, 40, 0.7);
      filter: dropshadow(color=rgba(19, 32, 40, 0.7), offx=0, offy=1); }
  .reveal-modal .buttons-bar, .reveal-modal--card .buttons-bar {
    background: rgba(255, 255, 255, 0.88);
    padding: 0px 0 5px 0; }
    .reveal-modal .buttons-bar > *, .reveal-modal--card .buttons-bar > * {
      padding: 0; }
    .reveal-modal .buttons-bar .button, .reveal-modal--card .buttons-bar .button {
      width: 100%;
      border: none;
      border-bottom: 3px solid rgba(19, 32, 40, 0.4);
      color: white;
      font-weight: 400;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      text-shadow: 0px 1px 0px rgba(19, 32, 40, 0.7);
      filter: dropshadow(color=rgba(19, 32, 40, 0.7), offx=0, offy=1); }
      .reveal-modal .buttons-bar .button.warning, .reveal-modal--card .buttons-bar .button.warning {
        background: #ff8000; }
      .reveal-modal .buttons-bar .button:hover, .reveal-modal--card .buttons-bar .button:hover {
        background: #2b4559; }
  .reveal-modal .content, .reveal-modal--card .content {
    background: rgba(255, 255, 255, 0.88);
    margin-bottom: -20px;
    padding: 5px 20px;
    padding-bottom: 0; }
    .reveal-modal .content header, .reveal-modal--card .content header {
      margin-bottom: -20px; }
    .reveal-modal .content h4, .reveal-modal--card .content h4 {
      font-size: 2.5em;
      line-height: 0.9375em;
      margin-bottom: 0.75em;
      font-weight: 600; }
      .reveal-modal .content h4 em, .reveal-modal--card .content h4 em {
        font-size: 0.625em;
        display: block;
        font-weight: 400; }
      .reveal-modal .content h4 small, .reveal-modal--card .content h4 small {
        font-size: 14px;
        background: #3ab7cf;
        text-shadow: 0px 1px 0px rgba(19, 32, 40, 0.8);
        filter: dropshadow(color=rgba(19, 32, 40, 0.8), offx=0, offy=1); }
    .reveal-modal .content p, .reveal-modal--card .content p {
      font-weight: 200;
      padding-bottom: 20px; }
    .reveal-modal .content .body, .reveal-modal--card .content .body {
      margin-bottom: 20px !important;
      min-height: 100px;
      max-height: 200px;
      overflow: auto;
      font-size: 0.9em; }
      .reveal-modal .content .body p, .reveal-modal .content .body li, .reveal-modal--card .content .body p, .reveal-modal--card .content .body li {
        margin: 0 0 0.5em 0;
        padding-bottom: 0;
        font-weight: 400; }

/* end reveal modal card */
.reveal-modal-bg {
  background: rgba(0, 37, 59, 0.3);
  z-index: 1010; }

/* -----------------------------------------
   COMMENTS (DISQUS)
----------------------------------------- */
/* -----------------------------------------
   POLL (POLLDADDY)
----------------------------------------- */
.real-poll .hidden {
  display: none !important; }
.real-poll .pds-box {
  width: 100% !important;
  background: transparent !important;
  border: none !important;
  padding: 5px !important; }
  .real-poll .pds-box .pds-box-outer, .real-poll .pds-box .pds-vote {
    padding-bottom: 0 !important; }
.real-poll .pds-question {
  display: none !important; }
.real-poll .pds-answer {
  border: none !important;
  text-align: center !important; }
.real-poll .pds-answer-group {
  position: relative;
  display: inline-block !important;
  padding: 0 !important;
  text-align: center;
  width: 47%;
  margin-bottom: 10px !important; }
  .real-poll .pds-answer-group input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50; }
  .real-poll .pds-answer-group label {
    z-index: 45;
    background: #ff8000 url(../img/scm-history/sprite-check.png) -490px center no-repeat;
    text-indent: 10px;
    display: block !important;
    width: 100% !important;
    line-height: 35px !important;
    margin: 0 !important;
    border-bottom: 4px solid #cc6600;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.8; }
    .real-poll .pds-answer-group label span {
      color: white !important;
      font-weight: 400; }
    .real-poll .pds-answer-group label:hover {
      opacity: 0.9; }
    .real-poll .pds-answer-group label.checked {
      opacity: 1;
      background-position: 10px center !important; }
  .real-poll .pds-answer-group:first-child label, .real-poll .pds-answer-group:nth-child(2) label {
    background: #00b090 url(../img/scm-history/sprite-check.png) -490px center no-repeat;
    border-bottom: 4px solid #007d66; }
  .real-poll .pds-answer-group:last-child label {
    background: #e44602 url(../img/scm-history/sprite-check.png) -490px center no-repeat;
    border-bottom: 4px solid #b13602; }
  .real-poll .pds-answer-group:nth-child(2), .real-poll .pds-answer-group:nth-child(4) {
    margin-left: 5%; }
.real-poll .pds-vote-button {
  width: 100%;
  display: inline-block;
  text-align: center;
  background: #34576d !important;
  border-radius: 3px !important;
  line-height: 30px !important;
  border-bottom: 5px solid #132028 !important; }
  .real-poll .pds-vote-button span {
    color: white !important;
    font-weight: 400;
    font-size: 1.2em;
    text-transform: uppercase; }
.real-poll .pds-pd-link {
  color: #9dbdd0 !important;
  font-size: 0.8em !important; }
.real-poll .pds-links-back {
  font-size: 2em;
  font-weight: 400;
  color: #00b090;
  border: 2px solid #00caa5;
  line-height: 1.5em;
  padding-bottom: 0.5em !important;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .real-poll .pds-links-back a {
    display: none !important; }
  .real-poll .pds-links-back:after {
    content: "Thanks for voting!"; }

/* end real-poll */
.plastic-5 h5, .level-9 h5 {
  font-weight: 700 !important; }

.block-planes-illustration {
  display: none; }

/* IE10 HACKS */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .planes p, .planes li {
    font-size: 0.85em; } }
/* IE10 Hacks */
/* -----------------------------------------
   RESPONSIVE HACKS
----------------------------------------- */
/* Used to alter styles for screens at least 320px wide. This is where the grid changes. */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  body {
    padding-bottom: -2000px !important;
    overflow: hidden;
    /* end headeer */
    /* end main */ }
    body .block-planes-illustration {
      display: block;
      margin-bottom: -5px !important; }
    body .sky {
      background-color: #00445b;
      background-image: -webkit-gradient(linear, top, bottom, from(#00445b), to(#7fdfff));
      background-image: -webkit-linear-gradient(top, #00445b, #7fdfff);
      background-image: -moz-linear-gradient(top, #00445b, #7fdfff);
      background-image: -ms-linear-gradient(top, #00445b, #7fdfff);
      background-image: -o-linear-gradient(top, #00445b, #7fdfff);
      top: 0 !important; }
      body .sky .sky-level {
        display: none !important; }
      body .sky .end {
        display: block !important; }
        body .sky .end .quote {
          display: none !important; }
    body .header {
      height: 80px;
      border-top: none; }
      body .header .logo img {
        width: 50%; }
    body .main {
      /* end hero */
      /* end block-footer */ }
      body .main .hero {
        padding: 0;
        text-align: center; }
        body .main .hero h1 {
          font-size: 35px;
          text-shadow: 0px 1px 0px #0d1319;
          filter: dropshadow(color=#0d1319, offx=0, offy=1); }
        body .main .hero .speech {
          font-size: 13px;
          text-shadow: 0px 1px 0px #0d1319;
          filter: dropshadow(color=#0d1319, offx=0, offy=1); }
        body .main .hero .align-right {
          text-align: center; }
          body .main .hero .align-right img {
            margin: 10px 0 0 0;
            width: 75% !important; }
        body .main .hero .bottom {
          margin-top: 0 !important; }
          body .main .hero .bottom img {
            display: none; }
          body .main .hero .bottom .quote {
            margin: 30px 0 0 0 !important;
            padding: 0 !important;
            font-size: 13px; }
      body .main .block-footer {
        padding: 150px 0 0 0;
        background: #1e3340 url(../img/scm-history/footer-airfield-bg.png) center top repeat-x;
        background-size: 125%;
        min-height: 1200px; }
        body .main .block-footer .footer {
          padding: 0 10px !important; }
        body .main .block-footer .nav-footer {
          width: 100% !important;
          margin: 0 !important;
          padding: 0 !important; }
        body .main .block-footer .side-nav {
          width: 100%;
          text-align: center; }
          body .main .block-footer .side-nav a {
            border-bottom: 1px solid #34576d;
            padding-bottom: 10px; }
        body .main .block-footer .social {
          display: none; } }
/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
/* Used to alter styles for screens at least 1280px wide. */
/* Used to alter styles for screens at least 1440px wide. */
/* Apply styles to screens in landscape orientation */
/* Apply styles to screens in portrait orientation */
/* Portrait Orientation (tablets and smartphones) */
@media screen and (orientation: portrait) {
  body {
    /*
    background: none !important;
    */ } }
/* / Portrait Orientation (tablets and smartphones) */
/* Other orientations */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */ }
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */ }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */ }
/* end iPads (portrait and landscape) ----------- */
/* iPhone 4 ----------- */
/* end iPhone 4 ----------- */
